
.recommend_content .UiImg1 {
    position: relative;
    display: block;
    width: 240px;
    height: 140px;
    background-image: url(../images/tp/4e930c61297b2008cc5a08ba38fb8e5b.jpeg);
    background-size: cover;
    border-radius: 4px;
    overflow: hidden;
}
.recommend_content .UiImg2 {
    position: relative;
    display: block;
    width: 240px;
    height: 140px;
    background-image: url(../images/tp/735e8cd19b2267f78139ac6a319e23aa.jpg);
    background-size: cover;
    border-radius: 4px;
    overflow: hidden;
}
.recommend_content .UiImg3 {
    position: relative;
    display: block;
    width: 240px;
    height: 140px;
    background-image: url(../images/tp/e4465ef5594e7e8606afa69ae1fe7b78.jpg);
    background-size: cover;
    border-radius: 4px;
    overflow: hidden;
}
.recommend_content .UiImg4 {
    position: relative;
    display: block;
    width: 240px;
    height: 140px;
    background-image: url(../images/tp/9f49d53832685509f9353997f156bdad.jpeg);
    background-size: cover;
    border-radius: 4px;
    overflow: hidden;
}
.recommend_content .UiImg5 {
    position: relative;
    display: block;
    width: 240px;
    height: 140px;
    background-image: url(../images/tp/59832e3719c86b434caa3b3240d3b33a.jpeg);
    background-size: cover;
    border-radius: 4px;
    overflow: hidden;
}
.recommend_content .UiImg6 {
    position: relative;
    display: block;
    width: 240px;
    height: 140px;
    background-image: url(../images/tp/54d2f8261a408f26bd12e84dc3c89072.jpeg);
    background-size: cover;
    border-radius: 4px;
    overflow: hidden;
}
.recommend_content .UiImg7 {
    position: relative;
    display: block;
    width: 240px;
    height: 140px;
    background-image: url(../images/tp/7859a5dd4cc951e7927f5dc19b70b16c.jpeg);
    background-size: cover;
    border-radius: 4px;
    overflow: hidden;
}
.recommend_content .UiImg8 {
    position: relative;
    display: block;
    width: 240px;
    height: 140px;
    background-image: url(../images/tp/79f705d9725f734510db850398a7eb96.jpeg);
    background-size: cover;
    border-radius: 4px;
    overflow: hidden;
}
.recommend_content .UiImg9 {
    position: relative;
    display: block;
    width: 240px;
    height: 140px;
    background-image: url(../images/tp/bd3c3853512700850f79672ee33f4670.jpeg);
    background-size: cover;
    border-radius: 4px;
    overflow: hidden;
}
.recommend_content .UiImg10 {
    position: relative;
    display: block;
    width: 240px;
    height: 140px;
    background-image: url(../images/tp/79b0f2c22edaacf482c92d7ab9b01872.jpeg);
    background-size: cover;
    border-radius: 4px;
    overflow: hidden;
}